sudo: required

dist: bionic

addons:
  artifacts:
    target_paths: /$PYTHON_VERSION
    paths: "mplresults"
  hosts:
    - iemdb.local
    - iemdb-hads.local
    - iemdb-mos.local
    - iemdb-iemre.local
    - iemdb2.local
    - iemdb-postgis.local
    - iemdb-mesosite.local
    - iemdb-afos.local
    - iemdb-asos.local
    - iemdb-snet.local
    - iemdb-mos.local
    - iemdb-rwis.local
    - iemdb-squaw.local
    - iemdb-awos.local
    - iemdb-iem.local
    - iemdb-other.local
    - iemdb-scan.local
    - iemdb-wepp.local
    - iemdb-coop.local
    - iemdb-isuag.local
    - iemdb-portfolio.local
    - iemdb-smos.local
env:
  global:
    - MPLLOCALFREETYPE=1
  matrix:
    - PYTHON_VERSION=3.6
    - PYTHON_VERSION=3.7
    - PYTHON_VERSION=3.8
language: python

before_install:
  - git clone --depth 1 https://github.com/akrherz/ci_tooling.git .ci_tooling
  - . .ci_tooling/postgres.sh

install:
  - . .ci_tooling/miniconda.sh
  - pip install codecov
  - python -m pip install . --upgrade

before_script:
  - export PATH="/usr/lib/postgresql/11/bin:$PATH"
  - psql -c 'CREATE ROLE travis SUPERUSER LOGIN CREATEDB;' -U postgres || true
  - cd data; sh bootstrap.sh
  - cd ..

script:
  - coverage run --source=pyiem setup.py test --addopts "--mpl --mpl-results-path=mplresults";
  - codecov -e TRAVIS_PYTHON_VERSION;
