affine
cartopy
coveralls
cython
descartes
fiona
geojson
matplotlib < 3
metpy
mock
# needed for fiona?
ncurses
netCDF4
geopandas
pandas
psycopg2
pytest
pytest-mpl
pytest-runner
rasterstats
shapely
tqdm
