affine
cartopy
coveralls
cython
descartes
fiona
geojson
matplotlib
metpy
metar>=1.7.0
mock
# needed for fiona?
ncurses
netCDF4
geopandas
pandas
psycopg2
pytest
pytest-mpl
pytest-runner
rasterstats
shapely
tqdm
