[build-system]
requires = ["setuptools>=64", "setuptools_scm>=8"]
build-backend = "setuptools.build_meta"

[project]
dependencies = [
    "affine",
    "defusedxml",
    "geopandas",
    "jinja2",
    "matplotlib>=3.5.0",
    "metar",
    "metpy",
    "netCDF4",
    "nh3",
    "numpy",
    "pandas",
    "paste",
    "pillow",
    "pyarrow",
    "pydantic",
    "pymemcache",
    "pyogrio",
    "pyproj",
    "psycopg",
    "rasterio",
    "rasterstats",
    "requests",
    "scipy",
    "shapely",
    # since psycopg 3 support requires it
    "sqlalchemy>=2",
    "xarray",
]
description = "Collection of things that may help with processing weather data."
dynamic = ["version"]
keywords = ["meteorology"]
license = {text = "Apache"}
name = "pyIEM"
readme = "README.md"

[project.urls]
"homepage" = "https://github.com/akrherz/pyIEM"

[tool.pytest.ini_options]
filterwarnings = ["ignore:numpy.ndarray size changed:RuntimeWarning"]

[tool.ruff]
line-length = 79
lint.select = ["E", "F", "I", "T"]
target-version = "py39"

[tool.setuptools_scm]
# can be empty if no extra settings are needed, presence enables setuptools_scm
