<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<link rel="canonical" href="https://www.dailyerosion.org">
<link rel="image_src" href="https://www.dailyerosion.org/profiles/iastate8/images/Iowa-State-University-default-image-600x315.png">
<meta property="og:site_name" content="Daily Erosion Project">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.dailyerosion.org/home">
<meta property="og:title" content="Daily Erosion Project">
<meta property="og:image" content="https://www.dailyerosion.org/profiles/iastate8/images/Iowa-State-University-default-image-600x315.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="600">
<meta property="og:image:height" content="315">
<meta property="og:image:alt" content="Iowa State University">
<meta property="og:updated_time" content="2025-12-02T14:04:56-06:00">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Daily Erosion Project">
<meta name="twitter:image" content="https://www.dailyerosion.org/profiles/iastate8/images/Iowa-State-University-default-image-600x315.png">
<meta name="twitter:image:alt" content="Iowa State University">
<meta name="google-site-verification" content="_59B4K7kU7HN422DE3maFW1MYtvWFhKDiFA64OLQ45g">
<meta name="Generator" content="Drupal 11 (https://www.drupal.org)">
<meta name="MobileOptimized" content="width">
<meta name="HandheldFriendly" content="true">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "WebPage",
            "@id": "https://www.dailyerosion.org/home",
            "breadcrumb": {
                "@type": "BreadcrumbList",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Home",
                        "item": "https://www.dailyerosion.org/home"
                    }
                ]
            },
            "publisher": {
                "@type": "Organization",
                "@id": "https://www.dailyerosion.org/",
                "name": "Daily Erosion Project",
                "url": "https://www.dailyerosion.org/"
            }
        }
    ]
}</script>
<link rel="icon" href="https://dailyerosion.org/themes/isubit/iastate22_theme/favicon.ico" type="image/vnd.microsoft.icon">

    <title>Daily Erosion Project</title>
    <link rel="stylesheet" media="all" href="https://dailyerosion.org/files/css/css_RXRls3pQA2SjuooXV3UOb1aWshH9YmVxvaPPzaSl6sc.css?delta=0&amp;language=en&amp;theme=iastate22_theme&amp;include=eJxtzlFqAzEMhOEL7cYhkPMY2Z4mamQrWLM0uX0f0lLo5nU--BmJALOOT1T6TDXicDzmi3kRW6oP4sFNLLW53cUOf8tqOm6xVJ_4RSX6ahpcrtqQy4S0OrdeIr2Ca_BpOi4vH96QqTT8Z5WgEKdT5hUdSao0dK0-YmfFncEp9_OOPnxwlS-Ed7zFfe3nSI09UYqhLfEMoqcigW9RjHi7">
<link rel="stylesheet" media="all" href="https://dailyerosion.org/files/css/css_hvBiL_NXmcVh20dPj4FxrCwrTt9RBfgdNWiTEgLUO0o.css?delta=1&amp;language=en&amp;theme=iastate22_theme&amp;include=eJxtzlFqAzEMhOEL7cYhkPMY2Z4mamQrWLM0uX0f0lLo5nU--BmJALOOT1T6TDXicDzmi3kRW6oP4sFNLLW53cUOf8tqOm6xVJ_4RSX6ahpcrtqQy4S0OrdeIr2Ca_BpOi4vH96QqTT8Z5WgEKdT5hUdSao0dK0-YmfFncEp9_OOPnxwlS-Ed7zFfe3nSI09UYqhLfEMoqcigW9RjHi7">
<link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext">
<link rel="stylesheet" media="print" href="https://dailyerosion.org/files/css/css_K_wAvg1X_glovYD-ii_Hm2WN6qz408ze4HBvYHIbdTw.css?delta=4&amp;language=en&amp;theme=iastate22_theme&amp;include=eJxtzlFqAzEMhOEL7cYhkPMY2Z4mamQrWLM0uX0f0lLo5nU--BmJALOOT1T6TDXicDzmi3kRW6oP4sFNLLW53cUOf8tqOm6xVJ_4RSX6ahpcrtqQy4S0OrdeIr2Ca_BpOi4vH96QqTT8Z5WgEKdT5hUdSao0dK0-YmfFncEp9_OOPnxwlS-Ed7zFfe3nSI09UYqhLfEMoqcigW9RjHi7">
<link rel="stylesheet" media="all" href="https://dailyerosion.org/files/css/css_ioCSkRsWRVgV4sKmeNTRik77l0gEwX_YPev86go1J_s.css?delta=5&amp;language=en&amp;theme=iastate22_theme&amp;include=eJxtzlFqAzEMhOEL7cYhkPMY2Z4mamQrWLM0uX0f0lLo5nU--BmJALOOT1T6TDXicDzmi3kRW6oP4sFNLLW53cUOf8tqOm6xVJ_4RSX6ahpcrtqQy4S0OrdeIr2Ca_BpOi4vH96QqTT8Z5WgEKdT5hUdSao0dK0-YmfFncEp9_OOPnxwlS-Ed7zFfe3nSI09UYqhLfEMoqcigW9RjHi7">

  </head>
<body class="node-id_19 node-type_landing_page logged-in is_front at-top">

    <a href="#main-content" class="visually-hidden-focusable skip-link btn btn-info">
      Skip to main content
    </a>

<header class="isu-header" aria-label="Site header">

  <div class="isu-header_top">

    <div class="isu-header_top_inner">
        
  
  <div class="isu-region isu-region_header-first">
    

<div id="block-iastate22-theme-branding" class="isu-block isu-block-system-branding-block">
  
    
    <div class="isu-wordmark">
          <a href="https://dailyerosion.org/">
    
                  <img class="isu-wordmark-logo isu-wordmark-logo_custom" width="450"  height="70" src="https://dailyerosion.org/files/DEP_Logo_Transparent_898X120.png"  alt="Daily Erosion Project" >
              
          </a>
    
      </div>

</div>

  </div>


      <button class="isu-mobile-menu-button" type="button" id="isu-mobile-menu-button" aria-expanded="false" aria-label="Toggle navigation">
        <span class="isu-mobile-menu-button-label sr-only">Menu</span>
        <div class="isu-mobile-menu-button-icon">
          <span class="mm-line-1"></span>
          <span class="mm-line-2"></span>
          <span class="mm-line-3"></span>
        </div>
      </button>

      <div class="isu-header_quicklinks-search isu-header_quicklinks-search-desktop">
        <div class="isu-header_quicklinks">
          

<nav aria-labelledby="isu-quick-menu-heading">
  

    


</nav>

        </div>
        <div class="isu-header_search">
            
  
  <div class="isu-region isu-region_search">
    




<div class="isu-search-wrapper">
  <div class="iastate8-google-cse-search-form isu-search search-closed" data-drupal-selector="iastate8-google-cse-search-form" id="block-iastate22-google-cse-block">
    
        
          <form action="/web-services-documentation" method="post" id="iastate8-google-cse-search-form-desktop" accept-charset="UTF-8">
  
<input autocomplete="off" data-drupal-selector="form-rhcxzl3r1i8lhfptzfa4rgchd18bc3nw9ma8bzsb-sq" type="hidden" name="form_build_id" value="form-rHcXZL3R1I8lHFptZFa4rgChD18Bc3nW9mA8BZSb-SQ" />


<input data-drupal-selector="edit-iastate8-google-cse-search-form" type="hidden" name="form_id" value="iastate8_google_cse_search_form" />


<div class="isu-google-search">
  <div role="button" class="isu-google-search_open" id="isu-google-search_open" tabindex="0">
    <span class="isu-google-search_open-text sr-only">Open search</span>
    <svg class="isu-google-search_open_icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" style="width: 1.25em;"><path fill="currentColor" d="M530.048 512a44.8 44.8 0 01-33.28-14.336L389.184 381.44a28.8 28.8 0 00-34.208-5.92 196.192 196.192 0 01-91.744 22.56 203.296 203.296 0 01-26.816-1.792A199.04 199.04 0 01263.04 0a205.568 205.568 0 0133.728 2.784 199.104 199.104 0 01142.368 288.96 28.8 28.8 0 006.144 34.56l114.4 104a48 48 0 017.2 64A46.688 46.688 0 01530.048 512zM265.024 46.4a154.4 154.4 0 00-20.704 307.456 160.32 160.32 0 0020.704 1.376 154.88 154.88 0 0071.296-17.504 478.496 478.496 0 0065.376-65.184 154.4 154.4 0 00-110.496-224 161.632 161.632 0 00-26.08-2.048z"></path></svg>
  </div>

  

<div class="isu-form-group isu-form-type_textfield js-form-item form-item js-form-type-textfield form-item-q js-form-item-q">
      <label class="visually-hidden" for="edit-q">Search</label>
        

<input placeholder="Search" class="isu-form-control_search isu-search__search-field form-text form-control isu-form-control isu-form-control_textfield isu-form-control_search-q" data-drupal-selector="edit-q" type="text" id="edit-q-desktop" name="q" value="" size="60" maxlength="128" tabindex="0" />

        </div>

  
  
  <button class="isu-search__search-btn button js-form-submit form-submit btn" data-drupal-selector="edit-submit" type="submit" id="search_edit-submit" name="op" value="Search">
    <span class="isu-search__search-btn-text">Submit search</span>
    <svg class="isu-google-search_submit_icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" style="width: 1.25em;"><path fill="currentColor" d="M530.048 512a44.8 44.8 0 01-33.28-14.336L389.184 381.44a28.8 28.8 0 00-34.208-5.92 196.192 196.192 0 01-91.744 22.56 203.296 203.296 0 01-26.816-1.792A199.04 199.04 0 01263.04 0a205.568 205.568 0 0133.728 2.784 199.104 199.104 0 01142.368 288.96 28.8 28.8 0 006.144 34.56l114.4 104a48 48 0 017.2 64A46.688 46.688 0 01530.048 512zM265.024 46.4a154.4 154.4 0 00-20.704 307.456 160.32 160.32 0 0020.704 1.376 154.88 154.88 0 0071.296-17.504 478.496 478.496 0 0065.376-65.184 154.4 154.4 0 00-110.496-224 161.632 161.632 0 00-26.08-2.048z"></path></svg>
  </button>


  
  <div role="button" class="isu-google-search_close btn" id="isu-google-search_close"  tabindex="0">
    <span class="isu-google-search_close-text sr-only">Close search</span>
    <svg class="isu-google-search_close_icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 1.25em;"><path fill="currentColor" d="M315.3 411.3c-6.253 6.253-16.37 6.253-22.63 0L160 278.6l-132.7 132.7c-6.253 6.253-16.37 6.253-22.63 0c-6.253-6.253-6.253-16.37 0-22.63L137.4 256L4.69 123.3c-6.253-6.253-6.253-16.37 0-22.63c6.253-6.253 16.37-6.253 22.63 0L160 233.4l132.7-132.7c6.253-6.253 16.37-6.253 22.63 0c6.253 6.253 6.253 16.37 0 22.63L182.6 256l132.7 132.7C321.6 394.9 321.6 405.1 315.3 411.3z"></path></svg>
  </div>
</div>


</form>

      </div>
</div>
  </div>

        </div>
              </div>
    </div>

    <div class="isu-header_site-name_mobile">
      <a rel="home" href="https://dailyerosion.org/">Daily Erosion Project</a>
    </div>

  </div>

  <div class="isu-header_navbar" id="isu-mobile-menu">
    <div class="isu-header_navbar_container" tabindex="-1">

      
      <div class="isu-header_site-name_desktop">
        <a rel="home" href="https://dailyerosion.org/">Daily Erosion Project</a>
      </div>
      <div class="isu-header_main-menu">
        

<nav aria-labelledby="isu-main-menu-heading">

    
    
     
      <h2 id="isu-main-menu-heading" class="visually-hidden">Main</h2>
      <ul class="isu-main-menu isu-menu">
    
                
               <li class="isu-nav-item active is-active isu-dropdown ">
            
                                
                   <div class="isu-dropdown-toggle_wrapper">

                                      <a href="https://dailyerosion.org/learn-about-dep" class="isu-nav-link isu-dropdown-toggle" data-drupal-link-system-path="resources-teaser-list">Learn About DEP</a>
            
          </div>
              
    
     

              <ul class="isu-dropdown-menu" aria-hidden="true">
      
        <button class="isu-mobile-menu-back-button">
          <span class="isu-mobile-menu-back-button-label">
            <span class="isu-mobile-menu-back-icon" aria-hidden="true"><</span>
            <span class="isu-mobile-menu-back-text">Back</span>
          <span class="sr-only">to top level of menu</span>
        </button>
    
                
               <li class="isu-dropdown-item">
            
                                
                   
                       
                                                
            <a href="https://dailyerosion.org/change-log" class="isu-dropdown-child" data-drupal-link-system-path="node/23">Change Log<span class="arrow"></span></a>
          
                          
      </li>
                
               <li class="isu-dropdown-item">
            
                                
                   
                       
                                                
            <a href="https://dailyerosion.org/documentation" class="isu-dropdown-child" data-drupal-link-system-path="node/12">Documentation<span class="arrow"></span></a>
          
                          
      </li>
                
               <li class="isu-dropdown-item active is-active">
            
                                
                   
                       
                                                
            <a href="https://dailyerosion.org/web-services-documentation" class="isu-dropdown-child is-active" data-drupal-link-system-path="node/13" aria-current="page">Web Services<span class="arrow"></span></a>
          
                          
      </li>
        </ul>

  

                
      </li>
                
               <li class="isu-nav-item">
            
                                
                   
                       <a href="https://dailyerosion.org/people" class="isu-nav-link" data-drupal-link-system-path="people-directory">People</a>
                          
      </li>
                
               <li class="isu-nav-item">
            
                                
                   
                       <a href="https://dailyerosion.org/faq" class="isu-nav-link" data-drupal-link-system-path="node/30">FAQ</a>
                          
      </li>
                
               <li class="isu-nav-item">
            
                                
                   
                       <a href="https://dailyerosion.org/map" class="isu-nav-link">Interactive Map</a>
                          
      </li>
        </ul>

  


</nav>
      </div>
      <div class="isu-header_quicklinks-search-mobile">
        

<nav aria-labelledby="isu-quick-menu-heading">
  

    


</nav>

                  
  
  <div class="isu-region isu-region_search">
    




<div class="isu-search-wrapper">
  <div class="iastate8-google-cse-search-form isu-search search-closed" data-drupal-selector="iastate8-google-cse-search-form" id="block-iastate22-google-cse-block">
    
        
          <form action="/web-services-documentation" method="post" id="iastate8-google-cse-search-form" accept-charset="UTF-8">
  
<input autocomplete="off" data-drupal-selector="form-rhcxzl3r1i8lhfptzfa4rgchd18bc3nw9ma8bzsb-sq" type="hidden" name="form_build_id" value="form-rHcXZL3R1I8lHFptZFa4rgChD18Bc3nW9mA8BZSb-SQ" />


<input data-drupal-selector="edit-iastate8-google-cse-search-form" type="hidden" name="form_id" value="iastate8_google_cse_search_form" />


<div class="isu-google-search">
  <div role="button" class="isu-google-search_open" id="isu-google-search_open" tabindex="0">
    <span class="isu-google-search_open-text sr-only">Open search</span>
    <svg class="isu-google-search_open_icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" style="width: 1.25em;"><path fill="currentColor" d="M530.048 512a44.8 44.8 0 01-33.28-14.336L389.184 381.44a28.8 28.8 0 00-34.208-5.92 196.192 196.192 0 01-91.744 22.56 203.296 203.296 0 01-26.816-1.792A199.04 199.04 0 01263.04 0a205.568 205.568 0 0133.728 2.784 199.104 199.104 0 01142.368 288.96 28.8 28.8 0 006.144 34.56l114.4 104a48 48 0 017.2 64A46.688 46.688 0 01530.048 512zM265.024 46.4a154.4 154.4 0 00-20.704 307.456 160.32 160.32 0 0020.704 1.376 154.88 154.88 0 0071.296-17.504 478.496 478.496 0 0065.376-65.184 154.4 154.4 0 00-110.496-224 161.632 161.632 0 00-26.08-2.048z"></path></svg>
  </div>

  

<div class="isu-form-group isu-form-type_textfield js-form-item form-item js-form-type-textfield form-item-q js-form-item-q">
      <label class="visually-hidden" for="edit-q">Search</label>
        

<input placeholder="Search" class="isu-form-control_search isu-search__search-field form-text form-control isu-form-control isu-form-control_textfield isu-form-control_search-q" data-drupal-selector="edit-q" type="text" id="edit-q" name="q" value="" size="60" maxlength="128" tabindex="0" />

        </div>

  
  
  <button class="isu-search__search-btn button js-form-submit form-submit btn" data-drupal-selector="edit-submit" type="submit" id="search_edit-submit" name="op" value="Search">
    <span class="isu-search__search-btn-text">Submit search</span>
    <svg class="isu-google-search_submit_icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" style="width: 1.25em;"><path fill="currentColor" d="M530.048 512a44.8 44.8 0 01-33.28-14.336L389.184 381.44a28.8 28.8 0 00-34.208-5.92 196.192 196.192 0 01-91.744 22.56 203.296 203.296 0 01-26.816-1.792A199.04 199.04 0 01263.04 0a205.568 205.568 0 0133.728 2.784 199.104 199.104 0 01142.368 288.96 28.8 28.8 0 006.144 34.56l114.4 104a48 48 0 017.2 64A46.688 46.688 0 01530.048 512zM265.024 46.4a154.4 154.4 0 00-20.704 307.456 160.32 160.32 0 0020.704 1.376 154.88 154.88 0 0071.296-17.504 478.496 478.496 0 0065.376-65.184 154.4 154.4 0 00-110.496-224 161.632 161.632 0 00-26.08-2.048z"></path></svg>
  </button>


  
  <div role="button" class="isu-google-search_close btn" id="isu-google-search_close"  tabindex="0">
    <span class="isu-google-search_close-text sr-only">Close search</span>
    <svg class="isu-google-search_close_icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="width: 1.25em;"><path fill="currentColor" d="M315.3 411.3c-6.253 6.253-16.37 6.253-22.63 0L160 278.6l-132.7 132.7c-6.253 6.253-16.37 6.253-22.63 0c-6.253-6.253-6.253-16.37 0-22.63L137.4 256L4.69 123.3c-6.253-6.253-6.253-16.37 0-22.63c6.253-6.253 16.37-6.253 22.63 0L160 233.4l132.7-132.7c6.253-6.253 16.37-6.253 22.63 0c6.253 6.253 6.253 16.37 0 22.63L182.6 256l132.7 132.7C321.6 394.9 321.6 405.1 315.3 411.3z"></path></svg>
  </div>
</div>


</form>

      </div>
</div>
  </div>

      </div>
    </div>
  </div>
</header>

{% block content %}
<main role="main" id="main-content">
<div class="container-fluid">
{{ content|safe }}
</div>
</main>
{% endblock %}

{% block footer %}{% include 'footer.j2' %}{% endblock %}

</body>
</html>
