{% extends "base.j2" %}

{% block content %}
<main role="main" id="main-content">
<div class="container-fluid">
{{ content|safe }}
</div>
</main>
<br clear="both" />
<br clear="both" />
{% endblock %}
