sphinx>=1.3
matplotlib
numpy
scipy
Pillow
gdata
oauth2client
apiclient
urllib3
google-api-python-client
psycopg2
# Shapely>1.3
pyproj
python-metar
windrose
cartopy
git+https://github.com/smartsheet-platform/smartsheet-python-sdk.git
